.charts__select {
    margin: 0 auto 0px 50px;
    min-width: 150px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    padding: 5px 10px;
    font-size: 16px;
}

.charts__option {
    padding: 10px 19px;
    font-size: 16px;
}

.charts__btns {
    grid-area: arrows;
    display: flex;
    justify-content: center;
}

.charts__btn {
    min-width: 50px;
    border-radius: 30%;
    margin: 5px;
    border: 0;
    height: 40px;
    background-color: rgba(0, 37, 117, 0.237);
    font-size: 17px;
    margin: 20px 5px;
}

.charts__btn:hover {
    background-color: rgba(0, 24, 77, 0.527);
    color: white;
}

.slide {
    display: none;
}

.slide_active {
    display: block;
}

.charts__title {
    text-align: center;
}

.charts_invisible {
    display: none;
}