.inputs {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 800px) {
    .inputs {
        display: block;
    }
}

.inputs__interval {
    display: flex;
    margin: 10px 0;
    grid-area: date;
}

.inputs__text {
    margin: 5px;
}

.inputs__date {
    width: 150px;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.514);
}

.inputs__select {
    width: 150px;
    padding: 5px;
    margin: 10px 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.514);
    grid-area: select;
    align-self: end;
}

.button__find {
    grid-area: btn;
    max-width: 200px;
    align-self: end;
}