.intervaldate {
    align-self: start;
    grid-area: date;
    position: relative;
}

.inputs__error {
    color: #fd0000;
    font-size: 14px;
    padding: 2px 5px 5px;
    border-bottom: 2px solid #fd00003f;
    position: absolute;
    right: 10px;
    display: none;
}

.inputs__error_visible {
    display: block;
}