.navbar {
    padding: 50px 80px 0px;
    margin-bottom: 20px;
}

.navbar__btn {
    background-color: inherit;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px 15px 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.navbar__btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 24, 77);
    font-size: 18px;
}

.navbar__btn_active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 24, 77);
    text-decoration: underline;
}