.App {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}

.main {
  max-width: 1600px;
  width: 95%;
  height: 90vh;
  margin: auto auto;
  border: 1px solid black;
}

.button__bottom {
  border: 0.1px solid rgba(25, 0, 138, 0.39);
  width: 200px;
  height: 40px;
  background-color: inherit;
  border-radius: 10px;
  margin: 5px;
}

.button__bottom:hover {
  background-color: rgba(25, 0, 138, 0.39);
  color: white;
  font-size: 18px;
}

.table {
  width: 100%;
}